{% extends "base.html" %}

{% block navbar_links %}
<li><a href="index.html" class="active"l">Home</a></li>
<li><a href="portfolio.html">Portfolio</a></li>
<li class="active"><a href="#">About</a></li>
{% endblock %}

{% block content %}
<h1>About</h1>

<p>
One of the roles of the scientific computing team at the John Innes Centre is
to provide bioimage analysis support to the various biology laboratories across
the site.
</p>

<p>
This aim of of this website is to showcase some of the work that we have done.
Both in terms of project support and tools development.
</p>

<p>
If you want to discuss your bioimage anlaysis project please do get in touch.
</p>
{% endblock %}
